body {
    max-width: 800px;
    margin:0 auto;
}
.header {
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(7, 145, 145);
    font-size: 30px;
    line-height: 3em;
    border-radius: 5px;
    color: white;

}
table{
    width: 100%;
    margin-top: 2em;
}
td:first-child{
    width: 20%;
    text-align: right;
}
td:nth-child(2){
    width: 40%;
}
td:last-child {
    padding-left: 10px;
    width: 40%;
    color: red;
}
input {width: 100%;}
.gt {
    display: flex;
    justify-content: left;
}
 